@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Patrick+Hand&display=swap");
@import "https://unpkg.com/open-props";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Patrick Hand", cursive;
}

body {
  background-color: #fafafa;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #eee 1px, transparent 1px),
    linear-gradient(to bottom, #eee 1px, transparent 1px);
}
